<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>My Repertoire</title>
</head>
<body>
    <%- include('../partials/navbar.ejs')%>
    <div class="repertoire-body">
        <div class="repertoire-header">
            <h1>My Repertoire</h1>
                <%repertoire.forEach((song) => {%>
                    <ul>
                        <li>
                            <a href="/users/<%= user._id %>/repertoire/<%= song._id %>"> <%= song.title %> </a>
                        </li>
                    </ul>
                <%})%>
                
                <a class="add-song-link" href="/users/<%= user._id %>/repertoire/new">Add Song</a>
        </div> 
    </div>
</body>
</html>